Enter filename: style.cssErreur détectée en traitant function <SNR>60_NetrwOpenFile[35]..Autocommandes BufEnter pour "*"..function AutoPairsTryInit :
ligne   27 :
E716: Key not present in Dictionary: "rhs"
ligne   28 :
E121: Undefined variable: old_cr
E116: Arguments invalides pour la fonction s:ExpandMap
ligne   29 :
E121: Undefined variable: old_cr
E116: Arguments invalides pour la fonction substitute
ligne   52 :
E121: Undefined variable: old_cr
